@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --cor-primaria: #0260B7;
    --cor-secundaria: #00B4CD;
    --cor-titulos: #ffffff;
    --cor-terciaria: #EBEBEB;
    --cor-texto: #6F6F6F;
    }

body, ul, li, p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;

}

main{
    background-image: url(background-contato.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

a {
    text-decoration: none;
    color: var(--cor-titulos);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 131px;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--cor-primaria);
}

img {
    width: 214px;
}


.menu{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    transition: 0.6s;
}

.menu li {
    margin: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.menu li a:hover{
    color: aquamarine;
    transition: 0.6s;
}

#contato_titulo{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-top: 35px;
    padding-bottom: 20px;
    color: var(--cor-primaria);
    font-weight: 900;
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--cor-primaria);
    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--cor-primaria);
}

.inputbox{
    position: relative;
}

.inputUser{
    width: 250px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1.5px solid var(--cor-primaria);
    border-radius: 15px ;
    outline: none;
    color: var(--cor-primaria);
    font-size: 15px;
}

fieldset{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    border: none;
    padding: 25px 0;
}

.labelInput{
    margin: 0;
    padding: 7px 7px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .4s;
    color: var(--cor-primaria);
}

.inputUser:focus ~.labelInput,
.inputUser:valid ~.labelInput{
    top: -30px;
    font-size: 12px;
    color: var(--cor-titulos);
}

#experiencia{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 1px solid var(--cor-primaria);
    background-color: #f1f1f1;
}

#botao{
    background-color: #ff6565;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 44px;
    margin-top: 20px; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: var(--cor-titulos);
    transition: .3s;
}

#botao:hover{
    background-color: #ffe1e1;
    color: var(--cor-primaria);
}

.localizacao{
    display: flex;
    justify-content: space-around;
    gap: 90px;
    padding: 170px 200px 100px 200px;
}
.mapBox{
    position: relative;
    width: 680px;
    height: 443px;
    border: 4px solid #0260B7;
    border-radius: 44px;
}

.mapBox iframe{
    width: 100%;
    height: 100%;
    border-radius: 39px;
}

.localBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--cor-primaria);
    font-weight: 700;
    text-align: center;
    row-gap: 20px;
}

.localBox img{
    width: 180px;
}

footer{
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 23px 448px;
    background-color: var(--cor-primaria);
    color: var(--cor-titulos);
    font-family: 'Montserrat';
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor-secundaria);
}